.headset-icon-CD-unit4-page1-1,
.click-icon-unit4-page1-1,
.headset-icon-CD-unit4-page1-2,
.click-icon-unit4-page1-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px; */
  padding: 5px;
}

.headset-icon-CD-unit4-page1-1 {
  top: 8%;
  right: 24%;
}

.click-icon-unit4-page1-1 {
  left: 19%;
  top: 37%;
}

.headset-icon-CD-unit4-page1-2 {
  bottom: 44.5%;
  left: 26%;
}

.click-icon-unit4-page1-2 {
  bottom: 11.5%;
  right: 39%;
}

#num-1-unit4 {
  top: 53%;
  left: 10%;
}

#num-2-unit4 {
  bottom: 51%;
  left: 26%;
}

#num-3-unit4 {
  top: 41%;
  left: 43.5%;
}

#num-4-unit4 {
  top: 53%;
  left: 34%;
}

#num-5-unit4 {
  top: 55%;
  left: 42%;
}

#num-6-unit4 {
  bottom: 30%;
  right: 78%;
}

#num-7-unit4 {
  bottom: 22.5%;
  right: 66%;
}
#num-8-unit4 {
  top: 68%;
  left: 61.5%;
}

#num-9-unit4 {
  top: 48%;
  left: 61%;
}

#num-10-unit4 {
  top: 27%;
  left: 42%;
}

#num-11-unit4 {
  bottom: 24%;
  right: 43%;
}

#num-12-unit4 {
  bottom: 24.5%;
  right: 54%;
}
/* @media screen and (max-width: 1024px) and (max-height: 600px) {
  .headset-icon-CD-unit4-page1-1 {
    top: 7% !important;
    right: 12% !important;
  }
  .headset-icon-CD-unit4-page1-2 {
    bottom: 32% !important;
    left: 27% !important;
  }
  .click-icon-unit4-page1-2 {
    bottom: 9% !important;
    right: 35% !important;
  }
}
@media (max-width: 1024px) {
  .headset-icon-CD-unit4-page1-1 {
    top: 6%;
    right: 18%;
  }
  .headset-icon-CD-unit4-page1-2 {
    bottom: 38%;
    left: 25%;
  }
  .click-icon-unit4-page1-2 {
    bottom: 14.5%;
    right: 43%;
  }
}

@media (max-width: 820px) {
  .headset-icon-CD-unit4-page1-1 {
    top: 6.5%;
    right: 16%;
  }
  .headset-icon-CD-unit4-page1-2 {
    bottom: 36.5%;
    left: 25%;
  }
  .click-icon-unit4-page1-2 {
    bottom: 13%;
    right: 41%;
  }
} */
