.WB-unit1-p3-q1-sentence {
    display: flex;
    align-items: flex-start;
    gap: 6px;
    /* flex: 1; */
    width: 60%;
    flex-direction: column;
}
.WB-word-bank {
    padding: 6px 14px;
    border-radius: 8px;
    border: 1px solid #b9b9b9;
    /* font-weight: 700; */
    background: #fff;
    font-size: 18px;
    cursor: grab;
    user-select: none;
}
.WB-word-bank:hover{

    border: 1px solid #1c007a;
    /* font-weight: 700; */
    box-shadow: 0 0 0 1px #b9b9b955;
  
}
.WB-unit1-p3-q1-input {
    flex: 1;
    min-height: 22px;
    border-bottom: 1.5px solid #000;
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    padding: 2px 4px;
    position: relative;
    width: 70%;
}

.WB-unit1-p3-q1-img {
    width: auto;
    height: 160px;
    object-fit: cover;
    /* border: 1px solid black; */
    border-radius: 10px;
    /* padding: 6px; */
}