.wb-unit8-p1-q1 {
  position: absolute;
  padding: 5px;
  top: 14.2%;
  left: 31%;
}

.wb-unit8-p1-q2 {
  position: absolute;
  padding: 5px;
  top: 42.1%;
  left: 31%;
}
.wb-unit8-p1-q3 {
  position: absolute;
  padding: 5px;
  top: 73.9%;
  left: 31%;
}
.wb-unit8-p2-q1 {
  position: absolute;
  padding: 5px;
  top: 3.4%;
  left: 31.5%;
}

.wb-unit8-p2-q2 {
  position: absolute;
  padding: 5px;
  top: 47.3%;
  left: 30.5%;
}
.wb-unit8-p3-q1 {
  position: absolute;
  padding: 5px;
  top: 8.5%;
  left: 20%;
}

.wb-unit8-p3-q2 {
  position: absolute;
  padding: 5px;
  top: 44.2%;
  left: 31.5%;
}
.wb-unit8-p4-q1 {
  position: absolute;
  padding: 5px;
  top: 3.4%;
  left: 35.5%;
}

.wb-unit8-p4-q2 {
  position: absolute;
  padding: 5px;
  top: 56.5%;
  left: 31%;
}
.wb-unit8-p5-q1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 56.5%;
}
.wb-unit8-p5-q2 {
  position: absolute;
  padding: 5px;
  top: 44.5%;
  left: 42.5%;
}
.wb-unit8-p6-q1 {
  position: absolute;
  padding: 5px;
  top: 9.5%;
  left: 58.5%;
}

.wb-unit8-p6-q2 {
  position: absolute;
  padding: 5px;
  top: 43%;
  left: 75%;
}
.wb-unit8-p6-q3 {
  position: absolute;
  padding: 5px;
  top: 72.5%;
  left: 94.5%;
}
