.wb-unit2-p9-q1 {
  position: absolute;
  padding: 5px;
  top: 15%;
  left: 40%;
}

.wb-unit2-p9-q2 {
  position: absolute;
  padding: 5px;
  top: 50%;
  left: 41.5%;
}
.wb-unit2-p10-q1 {
  position: absolute;
  padding: 5px;
  top: 10%;
  left: 40%;
}

.wb-unit2-p10-q2 {
  position: absolute;
  padding: 5px;
  top: 53%;
  left: 61%;
}
.wb-unit2-p11-q1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 53%;
}

.wb-unit2-p11-q2 {
  position: absolute;
  padding: 5px;
  top: 57.5%;
  left: 83.5%;
}
.wb-unit2-p12-q1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 31%;
}

.wb-unit2-p12-q2 {
  position: absolute;
  padding: 5px;
  top: 50%;
  left: 41.5%;
}
.wb-unit2-p13-q1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 49%;
}

.wb-unit2-p13-q2 {
  position: absolute;
  padding: 5px;
  top: 60%;
  left: 43%;
}.wb-unit2-p14-q1 {
  position: absolute;
  padding: 5px;
  top: 10%;
  left: 42%;
}

.wb-unit2-p14-q2 {
  position: absolute;
  padding: 5px;
  top: 38.5%;
  left: 40%;
}