.wb-unit4-p1-q1 {
  position: absolute;
  padding: 5px;
  top: 14.5%;
  left: 42%;
}

.wb-unit4-p1-q2 {
  position: absolute;
  padding: 5px;
  top: 54%;
  left: 40%;
}
.wb-unit4-p2-q1 {
  position: absolute;
  padding: 5px;
  top: 7%;
  left: 20%;
}

.wb-unit4-p2-q2 {
  position: absolute;
  padding: 5px;
  top: 49.5%;
  left: 65%;
}
.wb-unit4-p3-q1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 94%;
}

.wb-unit4-p3-q2 {
  position: absolute;
  padding: 5px;
  top: 41%;
  left: 59%;
}
.wb-unit4-p4-q1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 42%;
}

.wb-unit4-p4-q2 {
  position: absolute;
  padding: 5px;
  top: 52%;
  left: 62%;
}
.wb-unit4-p5-q1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 42%;
}
.wb-unit4-p5-q2 {
  position: absolute;
  padding: 5px;
  top: 50%;
  left: 40%;
}
.wb-unit4-p6-q1 {
  position: absolute;
  padding: 5px;
  top: 10%;
  left: 67%;
}

.wb-unit4-p6-q2 {
  position: absolute;
  padding: 5px;
  top: 47.5%;
  left: 69.5%;
}
