.wb-unit5-p1-q1 {
  position: absolute;
  padding: 5px;
  top: 14.5%;
  left: 42%;
}

.wb-unit5-p1-q2 {
  position: absolute;
  padding: 5px;
  top: 58.5%;
  left: 48%;
}
.wb-unit5-p2-q1 {
  position: absolute;
  padding: 5px;
  top: 7%;
  left: 40%;
}

.wb-unit5-p2-q2 {
  position: absolute;
  padding: 5px;
  top: 36%;
  left: 53%;
}
.wb-unit5-p3-q1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 42%;
}

.wb-unit5-p3-q2 {
  position: absolute;
  padding: 5px;
  top: 45%;
  left: 41.5%;
}
.wb-unit5-p4-q1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 94%;
}

.wb-unit5-p4-q2 {
  position: absolute;
  padding: 5px;
  top: 59%;
  left:39.5%;
}
.wb-unit5-p5-q1 {
  position: absolute;
  padding: 5px;
  top: 7.5%;
  left: 40%;
}
.wb-unit5-p5-q2 {
  position: absolute;
  padding: 5px;
  top: 68%;
  left: 42%;
}
.wb-unit5-p6-q1 {
  position: absolute;
  padding: 5px;
  top: 10%;
  left: 73%;
}

.wb-unit5-p6-q2 {
  position: absolute;
  padding: 5px;
  top: 44%;
  left: 20%;
}
.wb-unit5-p6-q3 {
  position: absolute;
  padding: 5px;
  top: 72%;
  left: 62%;
}
