.wb-unit3-p1-q1 {
  position: absolute;
  padding: 5px;
  top: 14%;
  left: 42%;
}

.wb-unit3-p1-q2 {
  position: absolute;
  padding: 5px;
  top: 50%;
  left: 77%;
}
.wb-unit3-p2-q1 {
  position: absolute;
  padding: 5px;
  top: 4%;
  left: 88%;
}

.wb-unit3-p2-q2 {
  position: absolute;
  padding: 5px;
  top: 65%;
  left: 42%;
}
.wb-unit3-p3-q1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 48%;
}

.wb-unit3-p3-q2 {
  position: absolute;
  padding: 5px;
  top: 52%;
  left: 42%;
}
.wb-unit3-p4-q1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 39%;
}

.wb-unit3-p4-q2 {
  position: absolute;
  padding: 5px;
  top: 56.5%;
  left: 42%;
}
.wb-unit3-p5-q1 {
  position: absolute;
  padding: 5px;
  top: 4%;
  left: 40%;
}
.wb-unit3-p5-q2 {
  position: absolute;
  padding: 5px;
  top: 31.5%;
  left: 57%;
}
.wb-unit3-p5-q3 {
  position: absolute;
  padding: 5px;
  top: 72%;
  left: 42%;
}
.wb-unit3-p6-q1 {
  position: absolute;
  padding: 5px;
  top: 10%;
  left: 62.5%;
}

.wb-unit3-p6-q2 {
  position: absolute;
  padding: 5px;
    top: 53.5%;
    left: 40%;
}
