.scrambled-wb-unit3-p17-q2 {
    font-size: 20px;
    /* margin-bottom: 5px; */
    /* width: 25%; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}