.wb-unit6-p1-q1 {
  position: absolute;
  padding: 5px;
  top: 14.5%;
  left: 62%;
}

.wb-unit6-p1-q2 {
  position: absolute;
  padding: 5px;
  top: 51%;
  left: 32%;
}
.wb-unit6-p2-q1 {
  position: absolute;
  padding: 5px;
  top: 4%;
  left: 44%;
}

.wb-unit6-p2-q2 {
  position: absolute;
  padding: 5px;
  top: 47.5%;
  left: 40%;
}
.wb-unit6-p3-q1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 40%;
}

.wb-unit6-p3-q2 {
  position: absolute;
  padding: 5px;
  top: 55%;
  left: 31.5%;
}
.wb-unit6-p4-q1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 42%;
}

.wb-unit6-p4-q2 {
  position: absolute;
  padding: 5px;
  top: 48.5%;
  left:72.5%;
}
.wb-unit6-p5-q1 {
  position: absolute;
  padding: 5px;
  top: 7.5%;
  left: 41.5%;
}
.wb-unit6-p5-q2 {
  position: absolute;
  padding: 5px;
  top: 62.5%;
  left: 42%;
}
.wb-unit6-p6-q1 {
  position: absolute;
  padding: 5px;
  top: 10%;
  left: 77%;
}

.wb-unit6-p6-q2 {
  position: absolute;
  padding: 5px;
  top: 77%;
  left: 68%;
}
.wb-unit6-p6-q3 {
  position: absolute;
  padding: 5px;
  top: 72%;
  left: 62%;
}
